<div class="container">
  <h1><%= @cocktail.name.capitalize %></h1>


  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <p><%= dose.description.capitalize %> of <%= dose.ingredient.name.capitalize %></p>
         <%= link_to "Delete a dose", dose_path(dose), method: :delete, class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>


   <%= simple_form_for [@cocktail, @dose] do |f| %>
    <% if @dose.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @dose.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient::INGREDIENTS %>

  <%= f.submit "Add a dose", class: "btn btn-primary" %>
  <% end %>




  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Add an ingredient</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New ingredient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



  <%= link_to "Back to list", cocktails_path(), {class: "btn btn-primary"} %>
</div>
